.subscribe {
  background-color: #5cdb95;
  height: 20vh;
}
.subscribe > h2 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.subscribe__input {
  display: flex;
  justify-content: center;
}
.subscribe__input > input {
  width: 25vw;
  padding: 8px;
  font-size: 15px;
  color: black;
  border-radius: 20px;
  border: none;
  font-weight: 600 !important;
}
.subscribe__input > input:focus {
  outline-width: 0;
}
.subscribe__input > button {
  background-color: #ff8000;
  padding-left: 10px;
  margin-left: 20px;
  color: white;
  border-radius: 20px;
  font-weight: 600;
  text-transform: inherit;
  font-size: 15px;
}
